.player-character{
    border-style:solid;
    border-color: green;
    border-width: 1%;
}
.picked{
    border-style:solid;
    border-color: red;
    border-width: 1%;
}
.characterholder{
    width: 150px;
    height: 150px;
    float: left;
}
.health-text{
    position:absolute;
    bottom:1%;
    left:1%;
}
.attack-text{
    position:absolute;
    bottom:1%;
    text-align:center;
}
.counter-text{
    position:absolute;
    bottom:1%;
    right:1%;
}