*{
    font-family: 'MedievalSharp', cursive;
}
.announcer{
    font-size:60px;
    text-align: center;
}
.jumbotron{
    background-image: url(../images/79644477-beautiful-seamless-background-realistic-texture-of-wooden-boards-hand-drawn-natural-realistic-wooden.jpg);
    background-repeat: repeat;
    padding-bottom: 5%;
}
body{
    background-image: url(../images/dyu8dx-956f96a9-d374-454b-8d7c-d16a916cb9b8.jpg);
    background-repeat: repeat;
    
}
.jumbo-text{
    text-align: center;
    font-size: 500%;
    
    color:	#D5AD6D; /*if no support for background-clip*/
    background: -webkit-linear-gradient(transparent, transparent),
    -webkit-linear-gradient(top, #f5d96c 0%, #f5d96c 26%, #f7de79 35%, #a37e43 45%, #91703b 61%, #d5ad6d 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}
.footer{
    background-image: url(../images/79644477-beautiful-seamless-background-realistic-texture-of-wooden-boards-hand-drawn-natural-realistic-wooden.jpg);
    background-repeat: repeat;
    position: relative;
    display:block;
    clear:both;

}
.player-character{
    border-style:solid;
    border-color: green;
    border-width: 1%;
}
.picked{
    border-style:solid;
    border-color: red;
    border-width: 1%;
}
.characterholder{
    width: 150px;
    height: 150px;
    float: left;
}
.health-text{
    position:relative;
    float:left;
    padding-right:1%;
    bottom:15%;
    left:1%;
    color: #259c1a;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.attack-text{
    position:relative;
    float:left;
    padding-right:1%;
    bottom:15%;
    color:#fc3232;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
}
.counter-text{
    position: relative;
    float:left;
    padding-right:1%;
    bottom:15%;
    right:1%;
    color:#122bb8;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.player-area{
    padding-bottom: 20%;
    text-align: center;
}
.opponent-area{
    margin-bottom:30%;
    padding-top:4%;
}
.infobox{
    border-style: groove;
    border-color:#472314;
    border-width:1%;
    
    background-image: url(../images/paper-old-texture-parchment-thumb.jpg);
    height:15em;
    padding:2%;
}
.tool-box{
    color:black;
    padding:2%;
    font-size:12px;
}
.footer{
    text-align: center;
}
.footertext{
    font-size: 24px;
    text-align: center;
    color:	#D5AD6D; /*if no support for background-clip*/
    background: -webkit-linear-gradient(transparent, transparent),
    -webkit-linear-gradient(top, #d5ad6d 0%, #d5ad6d 26%, #e2ba78 35%, #a37e43 45%, #91703b 61%, #d5ad6d 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
